<div id="<%= dom_id author %>">
  <p>
    <strong>Last name:</strong>
    <%= author.last_name %>
  </p>

  <p>
    <strong>First namel:</strong>
    <%= author.first_nameL %>
  </p>

  <p>
    <strong>Birth day:</strong>
    <%= author.birth_day %>
  </p>

</div>
