<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<h1>Books</h1>

<table class="table table-hover table-fixed">
  <thead>
  <tr>
    <th scope="col">Cover</th>
    <th scope="col">Info</th>
  </tr>
  </thead>
  <tbody>
  <% @books.each do |book| %>
    <%= render "indexbook", book: book %>
  <% end %>
  </tbody>
</table>

<%= paginate @books %>

<%= link_to "New book", new_book_path, class: "btn btn-primary" %>
